<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Extraordinario</title>
</head>
<body>
  <header><h1>Proyecto Extraordinario Raiz Cuadrada de -1</h1></header>
  <div>
    <h3>Autor: Ayrton Raul Bolaños Waldo <br>
    Fecha: Enero de 2021</h3>
  </div>
  <div><h3>Experiencia Educativa: Pruebas de software</h3></div>
  <div>
    <h3 class="texto">
      Sobre el proyecto: El proyecto se basa en practicas de la ecuacion de la raiz cuadrada de -1, 
      a partir de la cual se desarrolla un software con administracion de proyectos de Kanban automatizado y
      protegidos bajo el github actions. El proyecto esta desarrollado con modelo Git Branching Model con branch:
      master, hotfixes, develop y release. Cada issue contiene su definicion, mockup, diagrama de clases y las Pruebas
      que se necesitan pasar. Nuestros issues tienen un prototipo base, el cual es: landing page, test, y UI. 
      El front se publica en firebase.com y se implementa el code coverage del proyecto.
    </h3>
  </div>
  <app-ui></app-ui>
</body>
</html>